@import 'tailwindcss';

html {
  margin: 0;
  padding: 0 30px 30px 30px;
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
